-# raw_articles = Article.find_by(featured: true, status: :publish).to_a rescue []
- cache 'kaopubao.home.articles' do
  %section#news.white-bg.padding-top-bottom
    .container
      %h1.section-title
        =t('.title')
      %p.section-description
        =t('.description')
      .timeline
        - unless raw_articles.blank?
          - grouped_articles = raw_articles.group_by { |article| article.created_at.to_time.strftime('%Y%m') }
          - grouped_articles.each do |k, articles|
            .date-title
              %span
                = l articles.first.created_at.to_date, format: :year_month
            - while !articles.empty?
              .row
                - articles.shift(2).each_with_index do |article, index|
                  .col-sm-6.news-item.scrollimation.fade-up{ class: (index%2 != 0) ? 'right' : nil }
                    .news-content
                      .date
                        %p
                          = article.created_at.to_time.day
                        %small
                          = t('date.alias_day_names')[article.created_at.to_time.wday]
                      %h2.news-title
                        = article.title
                      %p
                        = article.summary
                      %a.read-more{ href: article_path(article.slug) }
                        =t('.full_article')             
      %p.text-center
        %a.btn.btn-qubico{ href: articles_path }
          =t('.more')